/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 以上為css reset  */
/* 通用設定 */
:root{
    --main-color:#3F5D45;
    --main-size:8px;
    --base-color:#EAF0ED; 
    --sub-color: white;   
    --font-size:8px; 
}
body{
    font-family:PingFang TC;
    font-weight: bold;
}
/* 通用 */
* {
    /* 免除盒模型計算 */
    box-sizing: border-box;
   }
.h1 {
    height: 40px;
}

p{
    text-align: center;
}
h3{
    text-align: center;
}

a{
    text-decoration: none;
    font-size: calc(var(--font-size)*2.5) ;
    color:var(--main-color);
    text-align: center;
}

img{
    display: block;
}

/* Header開始 */
.header{
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
} 
.header img{
    height: calc(var(--font-size) * 5);
}
.container{
    width: 940px;
    margin: 0 auto;
    display: flex;
    /* 讓logo跟文字並排用 */
    /* justify-content: space-between;不是每一個都需要，所以移除 */
}
.menu{
    display: flex;
    /* 讓文字之間自己並排 */
    align-items: center;
}
.menu ul{
    width: 320px;
    justify-content: space-between;
}
.menu a {
    padding: 10px 30px;
    color: var(--main-color);
    font-size: calc(var(--font-size) * 2);
  }
.menu a:hover{
    background: var(--base-color);
}
.menu li img{
    height: calc(var(--main-size)*3);
    padding-left :49px;
}
/* 購物車icon跟登入文字間距79px*/

.banner {
    height: 496px;
}
.mean{
    padding-top :60px;
}
.asideNav{
    font-size: calc(var(--font-size) * 3);
    text-align: center;
}
.asideNav h2{
    background: var(--main-color);
    color: var(--sub-color);
    padding: 20px 0;
    width: 300px;
}
/* 
1.把h2拿到ul外
2.不要設定固定高度，改用padding來推高度
*/

.asideNav li a{
    padding: 19.5px 0;
    display: block;
    background: var(--sub-color);
    color: var(--main-color);
    border: 1px solid var(--sub-color);
}

.asideNav li a:hover{
    background: var(--base-color);  
}
/* 以下為右半邊區域 */
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;

}

/* .productList li{
    width: 300px;
    height: 436px;
    margin-bottom: 20px;
    position: relative;
} */
.tag {
    /* 文字直書 */
    writing-mode: vertical-lr;
    position: absolute;
    padding: 10px;
    letter-spacing: 3px;
    left: 20px;
    top: 0;
    color: var(--sub-color);
    background: var(--main-color);
   }
.productList tag{
    position: absolute;
    left: 20px;
    top: 0;
    width: 36px;
    height: 107px;
    color: var(--sub-color);
    background:var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
}

.favorite {
    right: 22px;
    top: 19px;
    position: absolute;
   }
.productListCard {
    margin-bottom: 20px;
    position: relative;
   }
.productListCardBody {
    display: flex;
    color: var(--main-color);
   }

/* .productListCard{
    margin-bottom: 20px; 
}

.productListCardBody{
    position: absolute;
    top: 315px;
    display: flex;
    color:var(--main-color)
} */

/* .productListCardBody h2{
    font-size: calc(var(--font-size)*2.5);
    width: 173px;
    height: 56px;
    box-sizing:border-box;
    border: 1px solid var(--base-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.productListCardBody h3 {
    padding: 14px 0;
    font-size: calc(var(--font-size) * 2.5);
    width: 173px;
    border: 1px solid var(--base-color);
   }

/* .productListCardBody p{
    font-size: calc(var(--font-size)*2.5);
    width: 127px;
    height: 56px;
    border: 1px solid var(--base-color);
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
} */
.productListCardBody p {
    padding: 14px 0;
    font-size: calc(var(--font-size) * 2.5);
    width: 127px;
    border: 1px solid var(--base-color);
   }

/* .productListCardBody a {
    font-size: calc(var(--font-size)*3);
    color:var(--main-color);
    position: absolute;
    width: 300px;
    height: 65px;
    top: 56px;
    display: flex;
    text-align: center;
    justify-content: center; 
    background: var(--base-color);
    align-items: center;
    border: 1px solid var(--base-color);
}

.productListCardBody a:hover{
    color:var(--sub-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
} */

.addbtn {
    display: block;
    padding: 16px 0;
    font-size: calc(var(--font-size) * 3);
    color: var(--main-color);
    text-decoration: none;
    background: var(--base-color);
    border: 1px solid var(--base-color);
    text-align: center;
   }
   
.addbtn:hover {
    color: var(--main-color);
    background: var(--sub-color);
    border: 1px solid var(--main-color);
   }
   
/* 分頁使用 */
.page {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.page a{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    outline: 1px solid var(--base-color);
    margin-top: 26px;
    align-items: center;
    border: 1 solid var(--base--color);
}

.page a:hover {
    background-color:var(--main-color);
    color: var(--sub-color);
  }
